html{
    height: 100vh;
    width: 100vw;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: Roboto, sans-serif;
}

.header{
    background-color: #1F2937;
    margin: 0;
    padding: 24px 96px 48px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.links{
    display: flex;
    gap: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.info{
    height: 250px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.description, .desc-image{
    flex: 1;
    height: 250px;
    max-width: 600px;
}

.desc-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.desc-subtitle{
    font-size: 18px;
    color: #E5E7EB;
}

.desc-sign button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0;
    padding: 6px 18px;
}

.desc-image{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F9FAF8;
}

.content{
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    height: 120px;
}

.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.img{
    height: 400px;
    width: 250px;
    text-align:center;
}

.img-placeholder{
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    border: 3px solid #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-text{
    color: gray;
}

.quote{
    box-sizing:border-box;
    padding: 100px 200px;
    background-color:#E5E7EB;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.quote-author{
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    color:#1F2937;
}

.sign-up-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 250px;
    padding: 50px;
    background-color: #3882F6;
    border-radius: 5px;
}

.sign-up-head, .sign-up-body{
    color:#F9FAF8;
    margin: 0;
    padding: 0;
}

.sign-up-button button{
    background: none;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 4px;
    margin: 0;
    padding: 6px 18px;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 10px 20px;
}

button:hover{
    background-color: #1c417b;
}

.links p:hover{
    color: #3882F6;
}

